<ul class="nav nav-pills nav-stacked">
    {% if active_tab == "home" %}
    <li class="active"><a href="/">Home</a></li>
    {% else %}
    <li><a href="/">Home</a></li>
    {% endif %}

    {% if active_tab == "collections" %}
    <li class="active"><a href="/collections">Collections</a></li>
    {% else %}
    <li><a href="/collections">Collections</a></li>
    {% endif %}

    {% if active_tab == "contacts" %}
    <li class="active"><a href="/contact">Contacts</a></li>
    {% else %}
    <li><a href="/contacts">Contacts</a></li>
    {% endif %}

    {% if active_tab == "messages" %}
    <li class="active"><a href="/messages">Messages  <span class="badge badge-important pull-right">6</span></a></li>
    {% else %}
    <li><a href="/messages">Messages <span class="badge badge-important pull-right" title="6 unread messages">6</span></a></li>
    {% endif %}

    {% if active_tab == "metrics" %}
    <li class="active"><a href="/metrics">Metrics</a></li>
    {% else %}
    <li><a href="/metrics">Metrics</a></li>
    {% endif %}
</ul>